# Default configuration for the service.
# These values can be overridden by environment variables.
# For example, to override the database user, set the DATABASE_USER environment variable.

http_server:
  port: "8080"
  read_timeout: 5s
  write_timeout: 10s
  idle_timeout: 120s
  shutdown_timeout: 30s

database:
  host: "localhost"
  port: "5433"
  user: "postgres"
  password: "password"
  dbname: "orders_db"
  sslmode: "disable"
  max_connections: 10
  max_idle_conns: 5
  connect_timeout: "10s"
  statement_timeout: "30s"
  conn_max_lifetime: "30m"
  conn_max_idle_time: "10m"

kafka:
  bootstrap_servers: "localhost:9092"
  topic: "orders"
  consumer_group_id: "orders-consumer"
  auto_offset_reset: "earliest"
  enable_auto_commit: false
  isolation_level: "read_committed"
  poll_interval_ms: 300000
  fetch_min_bytes: 1
  fetch_max_bytes: 1048576
  session_timeout_ms: 10000
  heartbeat_interval_ms: 3000

health:
  db_hp_interval: 5s
  db_hp_timeout: 180s

consumer:
  worker_count: 4
  job_buffer_size: 8
  max_retries: 3
  retry_backoff: 250ms

cache:
  entry_size_cap: 1_048_576 # == 1Mb, the size is determined in amount of bytes
  entry_amount_cap: 500
  preload_size: 250